body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun {
	width: 300px;
}

.sun-section {
	background: transparent url("../img/mars-pano.jpg") no-repeat center top;
	background-size: cover;
}

.dipper {
	width: 300px;
	opacity: 0;
}

.js-dipper-fade {
	-webkit-animation: dipper-fade 1s linear forwards;
	-ms-animation: dipper-fade 1s linear forwards;
	-moz-animation: dipper-fade 1s linear forwards;
	-o-animation: dipper-fade 1s linear forwards;
	-animation: dipper-fade 1s linear forwards;
}


@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes dipper-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes dipper-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes dipper-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes dipper-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.shuttle-section {
	background-color: #fea51f;
}

.shuttle {
	width: 250px;
	position: relative;
	opacity: 0;
	top:20em;
}

.js-shuttle-fade {
	-webkit-animation: shuttle-fade 1s linear forwards;
	-ms-animation: shuttle-fade 1s linear forwards;
	-moz-animation: shuttle-fade 1s linear forwards;
	-o-animation: shuttle-fade 1s linear forwards;
	-animation: shuttle-fade 1s linear forwards;
}

@-webkit-keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}

}

@-ms-keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}


}

@-moz-keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@-o-keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

.ship-section {
	background: transparent url("../img/kasei-valles-canyons.jpg") no-repeat center top;
	background-size: cover;
	text-align: center;
}

.ships-1,
.ships-2 {
	display: inline-block;
	width: 150px;
	position: relative;
	opacity: 0;
	top:20em;
}

.js-ships-1-fade {
	-webkit-animation: ships-1-fade 1s linear forwards;
	-ms-animation: ships-1-fade 1s linear forwards;
	-moz-animation: ships-1-fade 1s linear forwards;
	-o-animation: ships-1-fade 1s linear forwards;
	animation: ships-1-fade 1s linear forwards;
}

.js-ships-2-fade {
	-webkit-animation: ships-2-fade 1.5s linear forwards;
	-ms-animation: ships-2-fade 1.5s linear forwards;
	-moz-animation: ships-2-fade 1.5s linear forwards;
	-o-animation: ships-2-fade 1.5s linear forwards;
	animation: ships-2-fade 1.5s linear forwards;
}

@-webkit-keyframes ships-1-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}

}

@-ms-keyframes ships-1-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}


}

@-moz-keyframes ships-1-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@-o-keyframes ships-1-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes ships-1-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@-ms-keyframes ships-2-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}


}

@-webkit-keyframes ships-2-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@-moz-keyframes ships-2-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@-o-keyframes ships-2-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes ships-2-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}
